.wrapper {
	display: grid;
	grid-gap: 10px;
	font-family: Arial, sans-serif;
	grid-template-columns:auto;
	grid-template-rows: auto;
	grid-template-areas:
	"header"
	"article"
	"sidebar";
}
.wrapper > * {
	padding: 1em;
	border-radius: 1em;
}
header {
	background-color: blue;
	color: white;
	grid-area: header;
}
article {
	background-color: green;
	color: white;
	grid-area: article;
}
.sidebar {
	background-color: yellow;
	grid-area: sidebar;
}
.nested aside {
	background-color: white;
	color: black;
	padding: 0.5em;
	border-radius: 0.5em;
}
.nested {
	display: grid;
	grid-gap: 1em;
	grid-template-rows: auto;
}

@media (min-width: 650px) { 
	.wrapper {
		grid-template-columns: repeat(5, 1fr);
		grid-template-rows: auto;
		grid-template-areas:"sidebar header header header header"
		"sidebar article article article article";
	}
	.nested1 {
		grid-area: nested1;
	}
	.nested3 {
		grid-area: nested3;
	}
	.nested {
		grid-template-columns: repeat(5, 1fr);
		grid-template-areas: 
		"nested1 nested1 ... nested3 nested3";
	}
}
@media (min-width: 1000px) { 


}